@import 'variables.css';

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	padding: 20px;
}

h2 {
	text-align: center;
}

.input-group {
	position: relative;
	margin-bottom: 20px;
}

input {
	border: none;
	padding: 10px 20px;
	border-radius: 50px;
	border: 1px solid var(--main);
}

input ~ label {
	position: absolute;
	top: 50%;
	left: 20px;
	padding: 0px 15px;
	transform: translateY(-50%);
	color: var(--dark);
	font-weight: 600;
	transition: top 0.2s ease-out, font-size 0.2s ease-out,
		background 0.2s ease-out, left 0.2s ease-out;
}

input:focus ~ label,
input.filled ~ label {
	top: -2px;
	left: 15px;
	font-size: 0.8em;
	background: var(--white);
	box-sizing: border-box;
}

input:focus {
	outline: none;
}
