@import 'variables.css';

html {
	width: 300px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: var(--darker);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: var(--white);
	max-width: 300px;
}

a {
	position: absolute;
	left: 15px;
	top: 15px;
	transition: color 0.3s ease-out;
	color: var(--darker);
}

a:hover {
	color: var(--main);
}

h2 {
	text-align: center;
	padding: 20px 0 30px 0;
}

#clock {
	font-size: 2em;
	transition: color 0.3s ease-out;
}

#clock.complete {
	font-weight: bold;
	color: rgb(0, 170, 9);
}
