@import 'variables.css';
@import 'frequently-used.css';

html {
	width: 300px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: var(--white);
	max-width: 300px;
}

#clock {
	font-size: 2em;
	transition: color 0.3s ease-out;
}

#clock.complete {
	font-weight: bold;
	color: rgb(0, 170, 9);
}
